Repository janosh/pymatviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-readme-src-links, marimo-check

ty:
  name: ty check
  entry: ty check --ignore unused-type-ignore-comment --ignore unused-ignore-comment
  language: python
  pass_filenames: false
  additional_dependencies:
  - ty==0.0.18

check-readme-src-links:
  name: Check README source links
  entry: python .github/scripts/check_readme_src_links.py
  language: python
  pass_filenames: false

marimo-check:
  name: marimo check
  entry: marimo check --strict
  language: python
  additional_dependencies:
  - marimo

Add CI job to execute widget demos
  .github/workflows/test.yml
Due: none

Add generic plot widgets and demos (#341)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/__init__.py
  pymatviz/widgets/__init__.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  tests/widgets/test_matterviz.py
  tests/widgets/test_mime.py
  tests/widgets/test_new_widgets.py
  tests/widgets/test_normalize.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Add periodic table, 3D scatter, heatmap, spacegroup, RDF, and chem pot widgets
  .pre-commit-config.yaml
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/__init__.py
  pymatviz/widgets/__init__.py
  pymatviz/widgets/chem_pot_diagram.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/periodic_table.py
  pymatviz/widgets/rdf_plot.py
  pymatviz/widgets/scatter_plot_3d.py
  pymatviz/widgets/spacegroup_bar.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  tests/widgets/test_matterviz.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Address PR review: log-normal hull sampling, 3D scatter validation
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/scatter_plot_3d.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Harden to_dict, clamp hull deltas, validate ScatterPlot3D keys
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/scatter_plot_3d.py
  pymatviz/widgets/spacegroup_bar.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Add periodic table, 3D scatter, heatmap, RDF, spacegroup, and chem pot widgets (#342)
  .pre-commit-config.yaml
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/__init__.py
  pymatviz/widgets/__init__.py
  pymatviz/widgets/chem_pot_diagram.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/periodic_table.py
  pymatviz/widgets/rdf_plot.py
  pymatviz/widgets/scatter_plot_3d.py
  pymatviz/widgets/spacegroup_bar.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  tests/widgets/test_matterviz.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

v0.17.5
  changelog.md
  pyproject.toml
  readme.md
Due: check-readme-src-links

Improve widget APIs: heatmap normalization, structure_string, categorical x-axis
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
Due: ty, check-readme-src-links

Add headless widget-to-image export via Playwright
  .gitignore
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/matterviz.py
  pyproject.toml
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Address PR review: harden cleanup, validate params, fix asset resolution
  pymatviz/widgets/_headless.py
  pymatviz/widgets/matterviz.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Polish headless export: simplify caching, harden cleanup, validate params
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/matterviz.py
  pyproject.toml
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Simplify widget code: fix marimo asset leak, remove dead paths
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/matterviz.py
Due: ty, check-readme-src-links

Harden headless export: thread safety, style detection, error messages
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/matterviz.py
Due: ty, check-readme-src-links

Address PR review: harden cleanup, normalize ranges, validate inputs
  .gitignore
  pymatviz/widgets/_headless.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/scatter_plot.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Add headless widget image export and improve widget APIs (#343)
  .gitignore
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  pyproject.toml
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Add multi-vector-per-atom rendering support
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/vite.config.ts
  tests/conftest.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Add vector_normalize, vector_uniform_thickness, and missing widget traits
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Add multi_vec_widget to export map, tidy tests and traits
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/structure.py
  tests/conftest.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
Due: ty, check-readme-src-links

Add multi-vector-per-atom rendering (#344)
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/vite.config.ts
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Replace Deno/ESLint with vite-plus, migrate Svelte to v5 runes
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/release.yml
  .github/workflows/svgo.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pymatviz/widgets/web/deno.jsonc
  pymatviz/widgets/web/package.json
  pymatviz/widgets/web/theme-detection.ts
  pymatviz/widgets/web/vite.config.ts
  site/eslint.config.js
  site/package.json
  site/src/app.html
  site/src/lib/Example.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.ts
  site/src/routes/api/+page.server.ts
  site/src/routes/api/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/svelte.config.ts
  site/tsconfig.json
  site/vite.config.ts
Due: none

Migrate widget Python code from deno to npm, fix adoptedStyleSheets bug
  assets/scripts/track_pymatviz_citations.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/web/anywidget.ts
  tests/widgets/conftest.py
  tests/widgets/test_matterviz.py
Due: ty, check-readme-src-links

Clean up widget build: extract shared lint config, fix theme observer leak, simplify CI
  .github/workflows/lint.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/test.yml
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/vite.config.ts
  pymatviz/widgets/web/vite.shared.ts
  site/vite.config.ts
  tests/widgets/conftest.py
  tests/widgets/test_matterviz.py
Due: ty

Replace Deno and ESLint with vite-plus tooling (#345)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/release.yml
  .github/workflows/svgo.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  assets/scripts/track_pymatviz_citations.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  pymatviz/widgets/web/package.json
  pymatviz/widgets/web/theme-detection.ts
  pymatviz/widgets/web/vite.config.ts
  pymatviz/widgets/web/vite.shared.ts
  site/eslint.config.js
  site/package.json
  site/src/app.html
  site/src/lib/Example.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.ts
  site/src/routes/api/+page.server.ts
  site/src/routes/api/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/svelte.config.ts
  site/tsconfig.json
  site/vite.config.ts
  tests/widgets/conftest.py
  tests/widgets/test_matterviz.py
Due: ty, check-readme-src-links

Add adaptive depth pruning to py_pkg_treemap
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  assets/scripts/treemap/py_pkg_treemap.py
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Regenerate pymatgen coverage treemap SVG with adaptive pruning
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
Due: none

Skip link template when depth limiting is active
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Simplify hovertemplate when depth limiting is active
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Fix namespace package filter to use dotted-path segment matching
  assets/scripts/treemap/py_pkg_treemap.py
Due: ty

Fix hover customdata indices and invalid d3-format spec
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Deduplicate has_depth_limit check
  pymatviz/treemap/py_pkg.py
Due: ty, check-readme-src-links

Break long labels at underscores and fix per-level thresholds
  pymatviz/treemap/py_pkg.py
Due: ty, check-readme-src-links

Catch KeyError from pymatgen chemenv analysis
  pymatviz/sunburst/chem_env.py
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Address CodeRabbit review comments
  pymatviz/treemap/py_pkg.py
Due: ty, check-readme-src-links

Fix label wrapping and test column ordering
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Raise cell_size_fn threshold to 400 lines for readability
  assets/scripts/treemap/py_pkg_treemap.py
Due: ty

Path conditions:
  ty: any of: \.py$
  check-readme-src-links: any of: ^(readme\.md|pymatviz/.*\.py)$
  marimo-check: any of: examples/widgets/marimo_demo\.py$
