Repository janosh/pymatviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-readme-src-links, marimo-check

ty:
  name: ty check
  entry: ty check --ignore unused-type-ignore-comment --ignore unused-ignore-comment
  language: python
  pass_filenames: false
  additional_dependencies:
  - ty==0.0.18

check-readme-src-links:
  name: Check README source links
  entry: python .github/scripts/check_readme_src_links.py
  language: python
  pass_filenames: false

marimo-check:
  name: marimo check
  entry: marimo check --strict
  language: python
  additional_dependencies:
  - marimo

Add TreemapWidget, fix widget trait wirings, pin matterviz-anywidget 0.4.2
  .pre-commit-config.yaml
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/__init__.py
  pymatviz/widgets/__init__.py
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_traits.py
  pymatviz/widgets/bands_and_dos.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/composition.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/periodic_table.py
  pymatviz/widgets/rdf_plot.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/treemap.py
  pymatviz/widgets/xrd.py
  site/package.json
  site/svelte.config.ts
  tests/widgets/test_composition_widget.py
  tests/widgets/test_describe.py
  tests/widgets/test_js_prop_parity.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Require Python 3.12+, adopt PEP 695 type aliases, refresh lint tooling
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  assets/scripts/cluster/composition/cluster_compositions_matbench.py
  assets/scripts/phonons/phonon_dos.py
  pymatviz/classify/confusion_matrix.py
  pymatviz/classify/curves.py
  pymatviz/coordination/figures.py
  pymatviz/phonons/helpers.py
  pymatviz/ptable/figures.py
  pymatviz/scatter.py
  pymatviz/structure/figures.py
  pymatviz/treemap/py_pkg.py
  pymatviz/typing.py
  pymatviz/widgets/_normalize.py
  pymatviz/xrd.py
  pyproject.toml
  readme.md
  tests/classify/test_curves.py
  tests/cluster/composition/test_plot.py
  tests/ptable/plotly/test_ptable_scatter.py
  tests/test_io.py
  tests/test_scatter.py
Due: ty, check-readme-src-links

Migrate docs site to svelte-widgets 1.2
  site/package.json
  site/src/app.css
  site/src/lib/Example.svelte
  site/src/routes/+layout.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/svelte.config.ts
  site/vite.config.ts
Due: none

Fix get_args on Literal aliases after PEP 695 migration
  .github/workflows/link-check.yml
  pymatviz/typing.py
  pymatviz/xrd.py
  readme.md
Due: ty, check-readme-src-links

Widen site helpers to Site and relax ty rules in examples
  pymatviz/coordination/helpers.py
  pymatviz/structure/helpers.py
  pyproject.toml
  tests/phonons/test_phonon_plotly.py
Due: ty, check-readme-src-links

Require Python 3.12+ and migrate docs to svelte-widgets 1.2 (#356)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  assets/scripts/cluster/composition/cluster_compositions_matbench.py
  assets/scripts/phonons/phonon_dos.py
  pymatviz/classify/confusion_matrix.py
  pymatviz/classify/curves.py
  pymatviz/coordination/figures.py
  pymatviz/coordination/helpers.py
  pymatviz/phonons/helpers.py
  pymatviz/ptable/figures.py
  pymatviz/scatter.py
  pymatviz/structure/figures.py
  pymatviz/structure/helpers.py
  pymatviz/treemap/py_pkg.py
  pymatviz/typing.py
  pymatviz/widgets/_normalize.py
  pymatviz/xrd.py
  pyproject.toml
  readme.md
  site/package.json
  site/src/app.css
  site/src/lib/Example.svelte
  site/src/routes/+layout.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/svelte.config.ts
  site/vite.config.ts
  tests/classify/test_curves.py
  tests/cluster/composition/test_plot.py
  tests/phonons/test_phonon_plotly.py
  tests/ptable/plotly/test_ptable_scatter.py
  tests/test_io.py
  tests/test_scatter.py
Due: ty, check-readme-src-links

Bump ruff, ty, and check-jsonschema; let ty's isolated env sync.
  .pre-commit-config.yaml
Due: none

Convert nested MSONable values in labeled DOS/band maps and describe those payloads as one spectrum.
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/band_structure.py
  pymatviz/widgets/bands_and_dos.py
  pymatviz/widgets/dos.py
  tests/widgets/test_describe.py
  tests/widgets/test_normalize.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Bump docs to svelte-widgets 1.5 and sit Toc beside main instead of overlaying it.
  site/package.json
  site/src/app.css
  site/src/lib/server/notebooks.ts
  site/src/routes/+layout.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/static/prism-vsc-dark-plus.css
Due: none

Read SVG glob URLs from the module default so prerender does not crawl /[object Module].
  site/src/routes/plots/+page.svelte
Due: none

Point notebook 404s at the missing rendered HTML file, not the source notebook.
  site/src/routes/notebooks/[slug]/+page.server.ts
Due: none

Simplify spectral describe, nested as_dict conversion, and docs CSS tokens.
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  site/src/app.css
  site/src/lib/server/notebooks.ts
  site/src/routes/+page.svelte
  site/src/routes/plots/+page.svelte
  tests/widgets/test_describe.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Collapse spectral helpers and sit CopyButton in the pre row.
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  site/src/app.css
  site/src/lib/server/notebooks.ts
  site/src/routes/+layout.svelte
  site/src/routes/plots/+page.svelte
  tests/widgets/test_describe.py
  tests/widgets/test_normalize.py
Due: ty, check-readme-src-links

Convert nested MSONable DOS/band maps, describe labeled spectra (#357)
  .pre-commit-config.yaml
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/band_structure.py
  pymatviz/widgets/bands_and_dos.py
  pymatviz/widgets/dos.py
  site/package.json
  site/src/app.css
  site/src/lib/server/notebooks.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/static/prism-vsc-dark-plus.css
  tests/widgets/test_describe.py
  tests/widgets/test_normalize.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Lockstep widgets with matterviz-anywidget 0.6.0
  .github/workflows/test.yml
  changelog.md
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/_traits.py
  pymatviz/widgets/band_structure.py
  pymatviz/widgets/bands_and_dos.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/dos.py
  pymatviz/widgets/fermi_surface.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/mime.py
  pymatviz/widgets/periodic_table.py
  pymatviz/widgets/rdf_plot.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/scatter_plot_3d.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/treemap.py
  pymatviz/widgets/xrd.py
  readme.md
  tests/widgets/conftest.py
  tests/widgets/test_describe.py
  tests/widgets/test_js_prop_parity.py
  tests/widgets/test_mime.py
  tests/widgets/test_normalize.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

CI: run corepack pnpm inside the matterviz clone (honours its packageManager pin); unbreak changelog for mdsvex
  .github/workflows/test.yml
  changelog.md
Due: none

Fix headless export misrouting to the Jupyter/nest_asyncio path after the first launch
  .github/workflows/test.yml
  changelog.md
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/_traits.py
  pymatviz/widgets/fermi_surface.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pyproject.toml
  tests/widgets/test_describe.py
  tests/widgets/test_headless.py
  tests/widgets/test_js_prop_parity.py
  tests/widgets/test_normalize.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Lockstep widgets with matterviz-anywidget 0.6.0 (#358)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  changelog.md
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/_traits.py
  pymatviz/widgets/band_structure.py
  pymatviz/widgets/bands_and_dos.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/dos.py
  pymatviz/widgets/fermi_surface.py
  pymatviz/widgets/heatmap_matrix.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/mime.py
  pymatviz/widgets/periodic_table.py
  pymatviz/widgets/rdf_plot.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/scatter_plot_3d.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/treemap.py
  pymatviz/widgets/xrd.py
  pyproject.toml
  readme.md
  site/package.json
  site/vite.config.ts
  tests/widgets/conftest.py
  tests/widgets/test_describe.py
  tests/widgets/test_headless.py
  tests/widgets/test_mime.py
  tests/widgets/test_normalize.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Fix SVG compression workflow path filter
  .github/workflows/svgo.yml
Due: none

Use official svelte-check for the documentation site
  site/package.json
  site/vite.config.ts
Due: none

Compress nested SVG assets in the workflow
  .github/workflows/svgo.yml
  tests/test_workflows.py
Due: ty

Fix scientific plot values, geometry, and export regressions
  pymatviz/classify/confusion_matrix.py
  pymatviz/classify/curves.py
  pymatviz/cluster/composition/embed.py
  pymatviz/cluster/composition/project.py
  pymatviz/coordination/figures.py
  pymatviz/coordination/helpers.py
  pymatviz/histogram.py
  pymatviz/io.py
  pymatviz/phonons/figures.py
  pymatviz/ptable/figures.py
  pymatviz/rainclouds.py
  pymatviz/rdf/figures.py
  pymatviz/scatter.py
  pymatviz/sunburst/chem_env.py
  pymatviz/treemap/chem_env.py
  pymatviz/uncertainty.py
  pymatviz/utils/data.py
  pymatviz/utils/plotting.py
  readme.md
  tests/classify/test_confusion_matrix.py
  tests/classify/test_curves.py
  tests/cluster/composition/test_embed.py
  tests/cluster/composition/test_project.py
  tests/coordination/test_coordination_plotly.py
  tests/phonons/test_phonon_helpers.py
  tests/phonons/test_phonon_plotly.py
  tests/ptable/plotly/test_ptable_heatmap_splits.py
  tests/ptable/plotly/test_ptable_hists.py
  tests/test_histogram.py
  tests/test_io.py
  tests/test_rainclouds.py
  tests/test_scatter.py
  tests/test_uncertainty.py
  tests/utils/test_data.py
  tests/utils/test_plotting.py
Due: ty, check-readme-src-links

Fix widget JSON payloads, display hooks, and render diagnostics
  pymatviz/notebook.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/brillouin_zone.py
  pymatviz/widgets/fermi_surface.py
  pymatviz/widgets/mime.py
  pymatviz/widgets/trajectory.py
  tests/test_notebook.py
  tests/widgets/conftest.py
  tests/widgets/test_headless.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Scope SVG workflow permissions and test recursive asset selection
  .github/workflows/svgo.yml
  tests/test_workflows.py
Due: ty

Require histogram samples and consolidate widget normalization
  changelog.md
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_describe.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/_traits.py
  pymatviz/widgets/bar_plot.py
  pymatviz/widgets/histogram.py
  pymatviz/widgets/link.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/scatter_plot.py
  pymatviz/widgets/trajectory.py
  tests/widgets/conftest.py
  tests/widgets/test_composition_widget.py
  tests/widgets/test_describe.py
  tests/widgets/test_normalize.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Share plotting algorithms and fold redundant tests
  pymatviz/cluster/composition/embed.py
  pymatviz/cluster/composition/plot.py
  pymatviz/coordination/figures.py
  pymatviz/histogram.py
  pymatviz/phonons/figures.py
  pymatviz/phonons/helpers.py
  pymatviz/powerups.py
  pymatviz/ptable/figures.py
  pymatviz/rainclouds.py
  pymatviz/rdf/helpers.py
  pymatviz/scatter.py
  pymatviz/structure/helpers.py
  pymatviz/sunburst/chem_env.py
  pymatviz/sunburst/helpers.py
  pymatviz/treemap/chem_env.py
  pymatviz/treemap/py_pkg.py
  pymatviz/utils/data.py
  pymatviz/utils/plotting.py
  readme.md
  tests/classify/test_confusion_matrix.py
  tests/classify/test_curves.py
  tests/cluster/composition/test_embed.py
  tests/cluster/composition/test_plot.py
  tests/coordination/test_coordination_helpers.py
  tests/structure/test_structure_plotly.py
  tests/test_histogram.py
  tests/test_pkg.py
  tests/test_powerups.py
  tests/treemap/test_chem_env_treemap.py
  tests/treemap/test_py_pkg_treemap.py
  tests/utils/test_data.py
Due: ty, check-readme-src-links

Fix plot scales, phonon paths, and data normalization
  pymatviz/phonons/figures.py
  pymatviz/process_data.py
  pymatviz/ptable/figures.py
  pymatviz/utils/plotting.py
  readme.md
  tests/phonons/test_phonon_helpers.py
  tests/phonons/test_phonon_plotly.py
  tests/ptable/plotly/test_ptable_heatmap_splits.py
  tests/test_process_data.py
  tests/utils/test_plotting.py
Due: ty, check-readme-src-links

Keep raincloud labels horizontal and label aggregate slices
  pymatviz/rainclouds.py
  pymatviz/sunburst/helpers.py
  tests/test_rainclouds.py
  tests/test_sunburst.py
Due: ty, check-readme-src-links

Preserve strict phonon paths and support all CSS color names
  pymatviz/colors.py
  pymatviz/phonons/figures.py
  pymatviz/utils/plotting.py
  readme.md
  tests/phonons/test_phonon_plotly.py
  tests/ptable/plotly/test_ptable_heatmap_splits.py
  tests/utils/test_plotting.py
Due: ty, check-readme-src-links

Bump ruff to v0.16.6 and ty to v0.0.79 in pre-commit config
  .pre-commit-config.yaml
Due: none

Migrate site to SvelteKit 3
  site/package.json
  site/src/app.d.ts
  site/src/lib/server/notebooks.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/api/+page.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/tests/notebooks.test.ts
  site/tsconfig.json
  site/vite.config.ts
Due: none

CI: rename pre-build and os inputs for janosh/workflows (temporarily pinned to the PR branch for validation)
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
Due: none

CI: point janosh/workflows back at main now that #9 is merged
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
Due: none

Migrate docs site to SvelteKit 3 and vite-plus 1.0 (#363)
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/package.json
  site/src/app.d.ts
  site/src/lib/server/notebooks.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/api/+page.svelte
  site/src/routes/changelog/+page.svelte
  site/src/routes/notebooks/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/tests/notebooks.test.ts
  site/tsconfig.json
  site/vite.config.ts
Due: none

Path conditions:
  ty: any of: \.py$
  check-readme-src-links: any of: ^(readme\.md|pymatviz/.*\.py)$
  marimo-check: any of: examples/widgets/marimo_demo\.py$
