Repository janosh/pymatviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-readme-src-links, marimo-check

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
        types_or: [python, jupyter]
      - id: ruff-format
        types_or: [python, jupyter]

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: ty check --ignore unused-type-ignore-comment --ignore unused-ignore-comment
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [ty==0.0.18]
      - id: check-readme-src-links
        name: Check README source links
        entry: python .github/scripts/check_readme_src_links.py
        language: python
        files: ^(readme\.md|pymatviz/.*\.py)$
        pass_filenames: false

  - repo: local
    hooks:
      - id: marimo-check
        name: marimo check
        entry: marimo check --strict
        language: python
        files: examples/widgets/marimo_demo\.py$
        additional_dependencies: [marimo]

  - repo: https://github.com/janosh/format-ipy-cells
    rev: v0.1.11
    hooks:
      - id: format-ipy-cells

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^assets/.+\.(svg|html)$
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1024]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        exclude_types: [csv, svg, html, yaml, jupyter]
        args: [--ignore-words-list, 'hist,mape,te,nd,fpr,abou,nam', --check-filenames]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.1
    hooks:
      - id: nbstripout
        args: [--drop-empty-cells, --keep-output]

  - repo: local
    hooks:
      - id: deno-fmt # pinned to 2.3.7 due to https://github.com/denoland/deno/issues/29968
        name: Deno format
        entry: deno fmt
        types_or: [file]
        language: system
        args: [--config, pymatviz/widgets/web/deno.jsonc, --permit-no-files]
        exclude_types: [jupyter, json]
        exclude: ^readme.md$ # deno fmt doesn't support ![fig-icon] syntax
      - id: deno-lint # pinned to 2.3.7 due to https://github.com/pngwn/MDsveX/issues/743
        name: Deno lint
        entry: deno lint
        types_or: [file]
        language: system
        args:
          - --config
          - pymatviz/widgets/web/deno.jsonc
          - --permit-no-files
          - --fix

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.1
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --config, site/eslint.config.js]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - eslint
          - eslint-plugin-svelte
          - svelte
          - typescript
          - typescript-eslint
          - '@stylistic/eslint-plugin'

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-jsonschema
        files: ^pymatviz/keys\.yml$
        args: [--schemafile, tests/keys-schema.yml]

Regenerate SVG with label line breaks
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
Due: none

Collapse single-child groups and lower label wrap threshold to 16
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
  pymatviz/treemap/py_pkg.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Lower label wrap threshold to 14 chars
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
  pymatviz/treemap/py_pkg.py
Due: ty, check-readme-src-links

Add bottom margin to prevent cropping
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
Due: none

Add adaptive depth pruning and language-agnostic source_dir mode to py_pkg_treemap (#346)
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  assets/scripts/treemap/py_pkg_treemap.py
  assets/svg/py-pkg-treemap-pymatgen-coverage.svg
  pymatviz/sunburst/chem_env.py
  pymatviz/treemap/py_pkg.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/web/anywidget.ts
  readme.md
  tests/treemap/test_py_pkg_treemap.py
  tests/widgets/test_structure_widget.py
Due: ty, check-readme-src-links

Remove dead df_to_pdf/df_to_svg, fix save_fig r+ bug, improve io tests
  .gitignore
  assets/scripts/treemap/py_pkg_treemap.py
  assets/svg/py-pkg-treemap-pymatviz-coverage.svg
  pymatviz/__init__.py
  pymatviz/io.py
  pyproject.toml
  tests/test_io.py
Due: ty, check-readme-src-links

Add PYMATVIZ_STATIC env var for static PNG rendering in show()
  pymatviz/widgets/_headless.py
  pymatviz/widgets/matterviz.py
  pyproject.toml
  tests/widgets/test_headless.py
  tests/widgets/test_matterviz.py
Due: ty, check-readme-src-links

Skip async dispatch test when nest_asyncio is not installed
  tests/widgets/test_headless.py
Due: ty

Guard playwright TimeoutError import in exception handlers
  codecov.yml
  pymatviz/widgets/_headless.py
Due: ty, check-readme-src-links

Replace Deno and ESLint with vite-plus tooling (#345)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/release.yml
  .github/workflows/svgo.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  assets/scripts/track_pymatviz_citations.py
  pymatviz/widgets/_headless.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  pymatviz/widgets/web/package.json
  pymatviz/widgets/web/theme-detection.ts
  pymatviz/widgets/web/vite.config.ts
  pymatviz/widgets/web/vite.shared.ts
  site/eslint.config.js
  site/package.json
  site/src/app.html
  site/src/lib/Example.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.ts
  site/src/routes/api/+page.server.ts
  site/src/routes/api/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  site/src/routes/plots/+page.svelte
  site/svelte.config.ts
  site/tsconfig.json
  site/vite.config.ts
  tests/widgets/conftest.py
  tests/widgets/test_matterviz.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Add PYMATVIZ_STATIC env var for static PNG rendering in show()
  codecov.yml
  pymatviz/widgets/_headless.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/chem_pot_diagram.py
  pymatviz/widgets/matterviz.py
  pyproject.toml
  tests/widgets/test_headless.py
  tests/widgets/test_matterviz.py
  tests/widgets/test_normalize.py
Due: ty, check-readme-src-links

v0.17.6
  .github/workflows/gh-pages.yml
  changelog.md
  pymatviz/powerups.py
  pymatviz/utils/plotting.py
  pymatviz/widgets/matterviz.py
  pyproject.toml
  site/.gitignore
  site/make_docs.py
  site/package.json
  site/src/app.d.ts
  site/src/lib/notebooks.ts
  site/src/lib/server/notebooks.ts
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  site/src/routes/+layout.ts
  site/src/routes/api/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/svelte.config.ts
  tests/test_powerups.py
  tests/widgets/test_matterviz.py
Due: ty, check-readme-src-links

Improve widget data input normalization
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/spacegroup_bar.py
  pymatviz/widgets/web/anywidget.ts
  tests/widgets/test_normalize.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Accept array-backed histogram inputs
  pymatviz/histogram.py
  pymatviz/rainclouds.py
  readme.md
  tests/test_histogram.py
  tests/test_rainclouds.py
Due: ty, check-readme-src-links

Tighten plot input validation
  pymatviz/histogram.py
  pymatviz/rainclouds.py
  pymatviz/widgets/spacegroup_bar.py
  readme.md
  tests/test_histogram.py
  tests/test_rainclouds.py
  tests/widgets/test_normalize.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Fix histogram series-name fallback and simplify widget init
  pymatviz/histogram.py
  pymatviz/widgets/spacegroup_bar.py
  tests/structure/test_structure_plotly.py
  tests/test_histogram.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Improve widget and plot data input handling (#348)
  .pre-commit-config.yaml
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/histogram.py
  pymatviz/ptable/figures.py
  pymatviz/rainclouds.py
  pymatviz/widgets/_normalize.py
  pymatviz/widgets/spacegroup_bar.py
  pymatviz/widgets/web/anywidget.ts
  pyproject.toml
  readme.md
  tests/structure/test_structure_plotly.py
  tests/test_histogram.py
  tests/test_rainclouds.py
  tests/treemap/test_py_pkg_treemap.py
  tests/widgets/test_mime.py
  tests/widgets/test_normalize.py
  tests/widgets/test_trajectory_widget.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links, marimo-check

Improve data validation and cleanup safety
  .pre-commit-config.yaml
  pymatviz/chem_env.py
  pymatviz/io.py
  pymatviz/process_data.py
  tests/test_chem_env.py
  tests/test_io.py
  tests/test_process_data.py
Due: ty, check-readme-src-links

Simplify verbose test coverage
  tests/treemap/test_py_pkg_treemap.py
  tests/widgets/test_widget_construction.py
Due: ty

Address treemap test review feedback
  tests/treemap/test_py_pkg_treemap.py
Due: ty

Address review feedback on cleanup fixes
  pymatviz/chem_env.py
  pymatviz/io.py
  tests/test_chem_env.py
  tests/test_io.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

bump deps
  pymatviz/chem_env.py
  pymatviz/widgets/web/package.json
  site/package.json
Due: ty, check-readme-src-links

Address final review feedback
  pymatviz/chem_env.py
  pymatviz/widgets/web/vite.config.ts
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  tests/test_chem_env.py
  tests/test_powerups.py
  tests/test_process_data.py
  tests/treemap/test_py_pkg_treemap.py
Due: ty, check-readme-src-links

Tighten data validation and simplify tests (#349)
  .pre-commit-config.yaml
  pymatviz/chem_env.py
  pymatviz/io.py
  pymatviz/process_data.py
  pymatviz/widgets/web/package.json
  pymatviz/widgets/web/vite.config.ts
  site/package.json
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  tests/test_chem_env.py
  tests/test_io.py
  tests/test_powerups.py
  tests/test_process_data.py
  tests/treemap/test_py_pkg_treemap.py
  tests/widgets/test_widget_construction.py
Due: ty, check-readme-src-links

Migrate site + widget web tooling to shared vite-plus config and pnpm
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/package.json
  pymatviz/widgets/web/theme-detection.ts
  pymatviz/widgets/web/vite.config.ts
  pymatviz/widgets/web/vite.shared.ts
  site/package.json
  site/src/app.html
  site/src/routes/+layout.server.ts
  site/src/routes/+layout.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/vite.config.ts
Due: none

Simplify: remove dead code and extract shared helpers
  pymatviz/classify/curves.py
  pymatviz/cluster/composition/plot.py
  pymatviz/coordination/figures.py
  pymatviz/phonons/figures.py
  pymatviz/powerups.py
  pymatviz/process_data.py
  pymatviz/ptable/figures.py
  pymatviz/rdf/figures.py
  pymatviz/structure/figures.py
  pymatviz/structure/helpers.py
  pymatviz/treemap/py_pkg.py
  pymatviz/uncertainty.py
  pymatviz/utils/__init__.py
  pymatviz/utils/plotting.py
  pymatviz/xrd.py
  readme.md
  tests/structure/test_structure_plotly.py
Due: ty, check-readme-src-links

Honor elem_type_colors/Sequence inputs, fix type errors, polish tooling
  .pre-commit-config.yaml
  pymatviz/classify/curves.py
  pymatviz/ptable/figures.py
  pymatviz/uncertainty.py
  pymatviz/utils/plotting.py
  readme.md
  site/package.json
  tests/classify/test_curves.py
Due: ty, check-readme-src-links
